<div class="container">
  <div class="header clearfix">
    <!-- <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">
          <a href="#">Home</a>
        </li>
        <li role="presentation">
          <a href="#">About</a>
        </li>
        <li role="presentation">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav> -->
    <h3>DBC Report</h3>
  </div>

  <div class="qr-container">
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" [(ngModel)]="customer.name">
          </div>
        </div>
        <div class="form-group">
          <label for="address" class="col-sm-2 control-label">Address</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="location" placeholder="Address" name="address" [(ngModel)]="customer.location.text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" (click)="createCode()">
              <i class="fa fa-qrcode"></i> Create QR Code</button>
          </div>
        </div>
      </form>

      <div style="margin-top: 15px">
        <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map> -->
        <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map> -->
      </div>

      <!-- <hr> -->

      <!-- <button (click)="createCode()" [disabled]="!isValid()">
      <i class="fa fa-qrcode"></i>Create Code</button> -->

      <hr>

      <div class="row" *ngIf="createdCode">
        <div class="col-md-2 col-md-offset-5">
          <qrcode [qrdata]="createdCode" [size]="256" [level]="'M'"></qrcode>
        </div>
        <!-- <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode> -->
        <!-- <ion-card-content>
        <p>Value: {{ createdCode }}</p>
      </ion-card-content> -->
        <!-- </ion-card> -->
      </div>

      <footer class="footer">
        <p>&copy; 2018</p>
      </footer>

    </div>
  </div>
</div>
